h1{
	color: white;
	text-align: -webkit-center;
}
.title{
	position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -200px;
    text-align: center;
    font-family: "HelveticaNeue-Bold",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0;
}